@model UploadViewModel

<div class="row justify-content-center">
    <h2>
        Thank you for uploading your image,
        <br />
        here's a link to view and share it:
        <br />
        <br />
        <a href="@Model.Link">@Model.Link</a>
        <br />
        <br />
        Make sure to give the password of "@Model.Password"!!!
    </h2>
</div>